/* nav */

nav {
    padding: 12px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    min-height: 53.33px;
    background-color: var(--bg-cards);
    box-shadow: 0 1px 3px #00000036;
}

.nav-contenedor {
    display: grid;
    grid-template-columns: .5fr 2fr .5fr;
    align-items: center;

    & img {
        width: 42px;
        height: auto;
    }

    & ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 16px;
        flex-grow: 1;
        
        & li a{
            font-size: clamp(16px, 4vw, 18px);
            font-weight: 500;
            color: var(--texto);

            &:hover{
                font-weight: 600;
            }
        }
    }

    & .nav-iconos {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 12px;

        & a{
            display: inline-flex;
        }

        & .iconos--tema {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 6px;
        }
        
        @media screen  and (width >= 360px){
            gap: 16px;
        }
    }
}

/* Header */

.header-Index {
    margin-top: 53px;
    background-image: url("../media/foto-sin-fondo.jpg");
    min-height: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 36px 20px;
    gap: 40px;

    & h1 {
        text-align: center;
        font-size: 34px;
        font-weight: bold;
        color: black;
    }

    & p {
        padding-right: 38%;
        font-size: clamp(20px, 4.1vw, 26px);
        font-weight: 500;
        color: black;

        & span {
            font-weight: 600;
            color: var(--texto-altH);
        }

    }

    @media screen and (width >=466px) {
        padding-right: 28px;
        padding-left: 28px;

        & p {
            padding-right: 52%;
        }
    }
}

/* section Valor Agregado */

#section-valorAgregado {
    padding: 20px 20px;
    
}

.contenedor-cards {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 40px;

    .card-vA {
        background-color: var(--bg-cards);
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
        padding: 28px 10px;
        border-radius: 14px;
        max-width: 420px;
        min-width: 240px;
        box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.25);

        & i {
            font-size: 4em;
            text-align: center;
            color: var(--icon-VA);
        }

        & p {
            font-size: 16px;
            text-align: center;
            font-weight: 500;
            color: var(--texto);
        }
    }
}

/* Section Viajes */

#section-viajes {
    width: 100%;
    padding: 40px 20px;
    display: flex;
    flex-flow: column nowrap;
    gap: 28px;
    scroll-margin-top: 40px
}

.contenedor-viajes {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 48px;

    & .card-viaje {
        background-color: var(--bg-cards);
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 16px;
        padding-bottom: 12px;
        max-width: 420px;
        min-width: 240px;
        border-radius: 22px;
        box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.25);
        overflow: hidden;

        & img{
            width: 100%;
            height: auto;
        }

        & p{
            font-size: 16px;
            font-weight: 500;
            color: var(--texto);
        }
    }
}

/* Section nosotros */

#section-nosotros {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    padding: 40px 0px;
    gap: 20px;
    scroll-margin-top: 40px;

    & img{
        width: 100%;
        height: auto;
    }
}

.contenedor-nosotros {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 12px;

    & .card-nosotros {
        background-color: var(--bg-cards);
        padding: 12px;
        border-radius: 4px;
        box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.15);
        max-width: 574px;

        & p{
            font-size: 14px;
            color: var(--texto);

            & span{
                color: var(--texto-alt);
            }
        }
    }
}

/* Footer */

footer {
    background-color: var(--bg-footer);
    padding: 12px 20px;
}

.footer-contenedor {
    width: 100%;
    max-width: 1080px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 4px;

    & img{
        width: 48px;
        height: auto;
    }

    & p,a{
        display: block;
        font-size: 10px;
        text-align: center;
        color: var(--texto);
    }

    & i{
        font-size: 1.6em;
        transition: color .3s ease;
        color: var(--icon);

        &:hover{
            color: var(--icon-hover) !important;
        }
    }
}

/* styles compartidos */

.btn{
    background-color: var(--bg-button);
    width: 100%;
    padding: 6px 0;
    text-align: center;
    max-width: 160px;
    border-radius: 8px;
    transition: background-color .3s ease-out;
    color: var(texto-reverse);

    &:hover{
        background-color: var(--bg-button-hover);
    }
}

.titulo-section__index {
    font-size: 24px;
    color: var(--texto-h);
    font-weight: 500;
    text-align: center;
}

.icon-nav {
    font-size: 1.3em;
    transition: color .3s ease;
    color: var(--icon);
    
    &:hover{
        color: var(--icon-hover) !important;
    }
}

.icon-dark:hover::after{
    position: absolute;
    content: "Modo Oscuro Activado";
    right: 4px;
    top: 48px;
    font-size: 8px;
}

.icon-sun:hover::after{
    position: absolute;
    content: "Modo Claro Activado";
    right: 4px;
    top: 48px;
    font-size: 8px;
}